# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
instance/
.env

# Flask
*.log

# Node / React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React build (we actually WANT build folder for deployment)
# But if you are deploying frontend separately, uncomment next line
# frontend/build/

# System files
.DS_Store
Thumbs.db
